---
import { Icon } from 'astro-icon/components';
import { translate, getLanguage } from '../utils/translation.js';

interface Props {
    titleKey: string;
    bodyKey: string;
    href: string;
    icon: string;
    target?: string;
}

const { href, titleKey, bodyKey, icon, target } = Astro.props;
const currentLang = getLanguage();
---

<div class="card">
    <div class="card-content">
        <Icon name={icon} class="card-icon" />
        <h2 data-i18n={titleKey}>{translate(titleKey, currentLang)}</h2>
        <p data-i18n={bodyKey}>{translate(bodyKey, currentLang)}</p>
    </div>
    <a href={href} target={target} rel={target === '_blank' ? 'noopener noreferrer' : undefined} class="card-link">
        <slot name="link-text">View Project</slot>
    </a>
</div>